/*CENTRAL*/
#central{
    width: 70%;
    height: 100%;
    min-height: 600px;
    float:right;
    border-left: 1px solid #ccc;
    box-shadow: -5px -1px  5px #ddd;
    padding: 2.5%;
}
#central h1{
    font-size: 25px;
    font-weight: normal;
    margin-bottom: 5px;
    letter-spacing: 1px;
    text-align:  center;
    border-bottom:1px solid #ccc;
    margin-bottom: 20px;
    padding: 25px;
}

/*PRODUCTOS*/
#product{
    width: 25%;
    margin-left: 5%;
    margin-top: 2%;
    float: left;
    text-align: center;
    
}
#product img
{
    height: 160px;
    width: 160px;
    margin-bottom: 2%;
    
}

#product a
{
    text-decoration: none;
}

#product h2{
    font-size: 17px;
    margin-top: 2%;
}
#product p{
    font-size: 17px;
    margin-bottom: 2%;
}
.button{
    background:  #01B1EA;
    color: white !important;
    text-decoration: none;
    margin-bottom: 1%;
}
.button-delete
{
    width: 120px;
    background-color: red;
    border: 1px solid rgb(209, 6, 6);
}


.alert_green{
    color: green;
}

.alert_red{
    color: red;
}

table{
    border-bottom: 1px solid  #ccc;
    width: 100%;
    text-align: center;

}

td
{
    border-top: 1px solid #ccc ;
    padding: 2px;

}

.thumb
{
    width: 35%;
}

/*MOSTRAR*/

.mostrar
{
    width: 100%;
    height: 100%;
    font-size: 200%;
}


.descripcion
{
    margin-bottom: 5%;
}

.price
{
    margin-top: 5%;
    display: block;
    margin-left: 59%;
}



.button-ms
{
    display: block;
    width: 120px;
    float: right;
    margin-right: 25%;
    margin-bottom: 10px;
    text-align: center;
    margin-top: 5%;
    font-size: 50%;
}

.mostrar img
{
    display: block;
    width: 40%;
    float: left;
}

.img-carrito
{
    height: 40%;
    
}

/*CARRITO*/

.total_carrito
{
    
    float:right;
    margin-right: 10%;
}

.text-carrito
{
    margin-bottom: 5%;
    margin-top: 5%;
}

.button-carrito
{
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
    font-size: 15px;
    border-radius: 5px;
}

.button--carrito-delete{
    background-color: red;
    color:white;
    border: red;
    border-radius: 5px;
}
.contador
{
    background: turquoise;
    border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    color: #ffffff;
    display: inline-block;
    font-weight: bold;
    line-height: 1.3em;
    margin-right: 15px;
    text-align: center;
    width: 1.3em; 

}

.button-delete-prod
{
    width: 46%;
    display: block;
    margin-left: 20%;
    background-color: red;
    color:white;
    border: red;
    border-radius: 5px;
}

.button-count
{
    width: 5%;
    display: block;
    align-items: center;
    margin-left: 40%;
    margin-bottom: 3%;
    margin-top: 3%;
}