#menu{
    clear: both;
    background: #222;
    color: white;
    height: 55px;
    border-bottom: 4px solid #01B1EA;
}

#menu ul{
    list-style: none;
    text-decoration: none;
    margin: 0px auto;
    margin-left: 25px;
}

#menu ul li{
    line-height: 55px;
    float: left;
    /*border-right: 1px solid #363636;*/
}

#menu a{
    display: block;
    color: white;
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
    transition: all 300ms;
}

#menu a:hover{
    background: #01B1EA;
}